### Importación de datos

In [230]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [4]:
suma_precios = tienda['Precio'].sum()
print(f" La suma de la columna precios de la tienda1 es: {suma_precios}")

 La suma de la columna precios de la tienda1 es: 1150880400.0

In [7]:
# para guiarme del monto total de cada tienda

suma_precios = tienda['Precio'].sum()
print(f" El ingreso total de la tienda 1 es: {suma_precios}")
suma_precios = tienda2['Precio'].sum()
print(f" El ingreso total de la tienda 2 es: {suma_precios}")
suma_precios = tienda3['Precio'].sum()
print(f" El ingreso total de la tienda 3 es: {suma_precios}")
suma_precios = tienda4['Precio'].sum()
print(f" El ingreso total de la tienda 4 es: {suma_precios}")

 El ingreso total de la tienda 1 es: 1150880400.0
 El ingreso total de la tienda 2 es: 1116343500.0
 El ingreso total de la tienda 3 es: 1098019600.0
 El ingreso total de la tienda 4 es: 1038375700.0

In [232]:
# simplificando el codigo
tienda1 = pd.read_csv(url)

tiendas = [tienda1, tienda2, tienda3, tienda4]
for i, tienda in enumerate(tiendas, start=1):
    suma_precios = tienda['Precio'].sum()
    print(f"El ingreso total de la tienda {i} es: {suma_precios}")

El ingreso total de la tienda 1 es: 1150880400.0
El ingreso total de la tienda 2 es: 1116343500.0
El ingreso total de la tienda 3 es: 1098019600.0
El ingreso total de la tienda 4 es: 1038375700.0

# 2. Ventas por categoría

In [115]:
#validando la ejecucion del calculo
tienda1 = pd.read_csv(url)
ProdXCategoría = tienda2.groupby('Categoría del Producto')['Producto'].count()
ProdXCategoría

#print (f"La Categoría con mas productos vendidos es: {ProdXCategoría.idxmax()}")

Categoría del Producto
Artículos para el hogar    181
Deportes y diversión       275
Electrodomésticos          305
Electrónicos               422
Instrumentos musicales     224
Juguetes                   313
Libros                     197
Muebles                    442
Name: Producto, dtype: int64

In [153]:
# automatizando el codigo
tienda1 = pd.read_csv(url)
tiendas = [tienda1, tienda2, tienda3, tienda4]

for i, tienda in enumerate(tiendas, start=1):
    categoria1 = tienda.groupby('Categoría del Producto')['Producto'].count()
    conteo_categoria = tienda.groupby('Categoría del Producto')['Producto'].count().reset_index()
    cantidadmax = conteo_categoria['Producto'].max()


    print(f"La cantidad de productos vendidos por categoría en la tienda {i} es:")
    print(conteo_categoria.sort_values(by='Categoría del Producto'))
    print (f"Basado en los datos, la categoria {categoria1.idxmax()} tiene un total de {cantidadmax} productos vendidos en la tienda {i}")
    print("\n")

La cantidad de productos vendidos por categoría en la tienda 1 es:
    Categoría del Producto  Producto
0  Artículos para el hogar       171
1     Deportes y diversión       284
2        Electrodomésticos       312
3             Electrónicos       448
4   Instrumentos musicales       182
5                 Juguetes       324
6                   Libros       173
7                  Muebles       465
Basado en los datos, la categoria Muebles tiene un total de 465 productos vendidos en la tienda 1


La cantidad de productos vendidos por categoría en la tienda 2 es:
    Categoría del Producto  Producto
0  Artículos para el hogar       181
1     Deportes y diversión       275
2        Electrodomésticos       305
3             Electrónicos       422
4   Instrumentos musicales       224
5                 Juguetes       313
6                   Libros       197
7                  Muebles       442
Basado en los datos, la categoria Muebles tiene un total de 442 productos vendidos en la tienda 2


La cantidad de productos vendidos por categoría en la tienda 3 es:
    Categoría del Producto  Producto
0  Artículos para el hogar       177
1     Deportes y diversión       277
2        Electrodomésticos       278
3             Electrónicos       451
4   Instrumentos musicales       177
5                 Juguetes       315
6                   Libros       185
7                  Muebles       499
Basado en los datos, la categoria Muebles tiene un total de 499 productos vendidos en la tienda 3


La cantidad de productos vendidos por categoría en la tienda 4 es:
    Categoría del Producto  Producto
0  Artículos para el hogar       201
1     Deportes y diversión       277
2        Electrodomésticos       254
3             Electrónicos       451
4   Instrumentos musicales       170
5                 Juguetes       338
6                   Libros       187
7                  Muebles       480
Basado en los datos, la categoria Muebles tiene un total de 480 productos vendidos en la tienda 4

# 3. Calificación promedio de la tienda

In [158]:
tienda1 = pd.read_csv(url)
calificacion = tienda1.groupby('Producto')['Calificación'].count()
calificacion

Producto
Ajedrez de madera              49
Armario                        60
Asistente virtual              40
Auriculares                    50
Auriculares con micrófono      33
Balón de baloncesto            55
Balón de voleibol              42
Batería                        53
Bicicleta                      54
Bloques de construcción        56
Cama box                       44
Cama king                      44
Carrito de control remoto      52
Celular ABXY                   33
Ciencia de datos con Python    39
Cubertería                     52
Cubo mágico 8x8                44
Cuerda para saltar             40
Dashboards con Power BI        42
Dinosaurio Rex                 40
Estufa                         45
Guitarra acústica              46
Guitarra eléctrica             47
Impresora                      54
Iniciando en programación      41
Iphone 15                      49
Juego de mesa                  43
Kit de bancas                  44
Lavadora de ropa               47
Lavavajillas                   48
Mesa de centro                 44
Mesa de comedor                40
Mesa de noche                  56
Microondas                     60
Mochila                        39
Modelado predictivo            51
Muñeca bebé                    40
Olla de presión                35
Pandereta                      36
Refrigerador                   54
Secadora de ropa               58
Set de ollas                   43
Set de vasos                   41
Silla de oficina               46
Sillón                         41
Smart TV                       44
Smartwatch                     43
Sofá reclinable                46
TV LED UHD 4K                  60
Tablet ABXY                    42
Vaso térmico                   54
Name: Calificación, dtype: int64

In [166]:
tienda1 = pd.read_csv(url)
Agrupar = pd.DataFrame(tienda1)


# Se agrupan y se cuentan los productos por clasificacion y con unstack se dejan en 0 para armar el Data Frame
conteo_calificaciones = Agrupar.groupby('Producto')['Calificación'].value_counts().unstack(fill_value=0)
# Con Axis=1 se pide ordenar y visualizar el conteo de las calificaciones por columnas
total_calificaciones = conteo_calificaciones.sum(axis=1)



print("Cantidad de calificaciones por producto es la siguiente:")
print(conteo_calificaciones)
print("\nCantidad total de calificaciones por producto:")
print(total_calificaciones)

Cantidad de calificaciones por producto es la siguiente:
Calificación                  1  2   3   4   5
Producto
Ajedrez de madera             1  2   3  12  31
Armario                      10  1   3  14  32
Asistente virtual             5  1   5   4  25
Auriculares                  11  2   6   6  25
Auriculares con micrófono     6  1   1   5  20
Balón de baloncesto           7  3   7  11  27
Balón de voleibol             3  5   4   4  26
Batería                       6  2   4   5  36
Bicicleta                     7  2   6  11  28
Bloques de construcción       7  2   4   9  34
Cama box                      5  2   1  11  25
Cama king                     9  0   3  12  20
Carrito de control remoto     3  4   5  11  29
Celular ABXY                  4  3   3   8  15
Ciencia de datos con Python   3  2   6   5  23
Cubertería                    4  2   4  10  32
Cubo mágico 8x8               5  1   3  12  23
Cuerda para saltar            9  0   5   9  17
Dashboards con Power BI       7  1   3   7  24
Dinosaurio Rex                7  1   4  10  18
Estufa                        4  0   8   7  26
Guitarra acústica             8  2   3   4  29
Guitarra eléctrica            7  2   1   7  30
Impresora                     5  2   3  13  31
Iniciando en programación     4  1   2   6  28
Iphone 15                     7  1   5  11  25
Juego de mesa                 7  1   3   7  25
Kit de bancas                 5  1   3  10  25
Lavadora de ropa              3  1   8  10  25
Lavavajillas                  6  2   6   5  29
Mesa de centro                5  4   3   5  27
Mesa de comedor               6  2   6   6  20
Mesa de noche                10  2   7   7  30
Microondas                    8  2   6  11  33
Mochila                       5  2   3   8  21
Modelado predictivo          10  1   7  12  21
Muñeca bebé                   5  2   4   7  22
Olla de presión               6  2   1  11  15
Pandereta                     6  0   5   5  20
Refrigerador                  8  1   4  10  31
Secadora de ropa              9  2   5   9  33
Set de ollas                  9  2   6   7  19
Set de vasos                 15  1   1   5  19
Silla de oficina              7  1   5  12  21
Sillón                        3  2   4  12  20
Smart TV                      5  4   2   8  25
Smartwatch                    4  1   3   9  26
Sofá reclinable               6  2   3  10  25
TV LED UHD 4K                 7  2   6  11  34
Tablet ABXY                   3  1   4  13  21
Vaso térmico                  7  0  11  10  26

Cantidad total de calificaciones por producto:
Producto
Ajedrez de madera              49
Armario                        60
Asistente virtual              40
Auriculares                    50
Auriculares con micrófono      33
Balón de baloncesto            55
Balón de voleibol              42
Batería                        53
Bicicleta                      54
Bloques de construcción        56
Cama box                       44
Cama king                      44
Carrito de control remoto      52
Celular ABXY                   33
Ciencia de datos con Python    39
Cubertería                     52
Cubo mágico 8x8                44
Cuerda para saltar             40
Dashboards con Power BI        42
Dinosaurio Rex                 40
Estufa                         45
Guitarra acústica              46
Guitarra eléctrica             47
Impresora                      54
Iniciando en programación      41
Iphone 15                      49
Juego de mesa                  43
Kit de bancas                  44
Lavadora de ropa               47
Lavavajillas                   48
Mesa de centro                 44
Mesa de comedor                40
Mesa de noche                  56
Microondas                     60
Mochila                        39
Modelado predictivo            51
Muñeca bebé                    40
Olla de presión                35
Pandereta                      36
Refrigerador                   54
Secadora de ropa               58
Set de ollas                   43
Set de vasos                   41
Silla de oficina               46
Sillón                         41
Smart TV                       44
Smartwatch                     43
Sofá reclinable                46
TV LED UHD 4K                  60
Tablet ABXY                    42
Vaso térmico                   54
dtype: int64

In [168]:
tienda1 = pd.read_csv(url)
Agrupar = pd.DataFrame(tienda1)

calificaciones_promedio = {}
# Calcular las calificaciones promedio de cada tienda
for i, tienda in enumerate(tiendas, start=1):
    promedio = tienda['Calificación'].mean()
    calificaciones_promedio[f'Tienda {i}'] = promedio
    print(f"Calificación promedio de la Tienda {i}: {promedio:.2f}")
    print("\n")

print("\nCalificaciones promedio por tienda:")
for tienda, promedio in calificaciones_promedio.items():
    print(f"{tienda}: {promedio:.2f}")

Calificación promedio de la Tienda 1: 3.98


Calificación promedio de la Tienda 2: 4.04


Calificación promedio de la Tienda 3: 4.05


Calificación promedio de la Tienda 4: 4.00

# 4. Productos más y menos vendidos

In [233]:
#haciendo calculos con 1 sola tienda

tienda1 = pd.read_csv(url)
Agrupar = pd.DataFrame(tienda1)


# Se agrupan y se cuentan los productos por clasificacion y con unstack se dejan en 0 para armar el Data Frame
conteo_calificaciones = Agrupar.groupby('Producto')['Calificación'].value_counts().unstack(fill_value=0)
# Con Axis=1 se pide ordenar y visualizar el conteo de las calificaciones por columnas considerando que cada calificacion es una venta
total_ventas = conteo_calificaciones.sum(axis=1)
# Producto con mayor número de ventas
cantidadmax = total_ventas.max()
productos_mas_vendidos = total_ventas[total_ventas == cantidadmax]

# Producto con menor número de ventas
cantidadmin = total_ventas.min()
productos_menos_vendidos = total_ventas[total_ventas == cantidadmin]

print("\nCantidad total de ventas por producto:")
print(total_ventas)

print("\nProductos con mayor número de ventas:")
print(productos_mas_vendidos)

print("\nProductos con menor número de ventas:")
print(productos_menos_vendidos)

Cantidad total de ventas por producto:
Producto
Ajedrez de madera              49
Armario                        60
Asistente virtual              40
Auriculares                    50
Auriculares con micrófono      33
Balón de baloncesto            55
Balón de voleibol              42
Batería                        53
Bicicleta                      54
Bloques de construcción        56
Cama box                       44
Cama king                      44
Carrito de control remoto      52
Celular ABXY                   33
Ciencia de datos con Python    39
Cubertería                     52
Cubo mágico 8x8                44
Cuerda para saltar             40
Dashboards con Power BI        42
Dinosaurio Rex                 40
Estufa                         45
Guitarra acústica              46
Guitarra eléctrica             47
Impresora                      54
Iniciando en programación      41
Iphone 15                      49
Juego de mesa                  43
Kit de bancas                  44
Lavadora de ropa               47
Lavavajillas                   48
Mesa de centro                 44
Mesa de comedor                40
Mesa de noche                  56
Microondas                     60
Mochila                        39
Modelado predictivo            51
Muñeca bebé                    40
Olla de presión                35
Pandereta                      36
Refrigerador                   54
Secadora de ropa               58
Set de ollas                   43
Set de vasos                   41
Silla de oficina               46
Sillón                         41
Smart TV                       44
Smartwatch                     43
Sofá reclinable                46
TV LED UHD 4K                  60
Tablet ABXY                    42
Vaso térmico                   54
dtype: int64

Productos con mayor número de ventas:
Producto
Armario          60
Microondas       60
TV LED UHD 4K    60
dtype: int64

Productos con menor número de ventas:
Producto
Auriculares con micrófono    33
Celular ABXY                 33
dtype: int64

In [240]:
#aplicando para todas las tiendas
tienda1 = pd.read_csv(url)
tiendas = [tienda1, tienda2, tienda3, tienda4]


# Calcular las calificaciones promedio de cada tienda
for i, tienda in enumerate(tiendas, start=1):
  Agrupar = pd.DataFrame(tienda)
# Se agrupan y se cuentan los productos por clasificacion y con unstack se dejan en 0 para armar el Data Frame
  conteo_calificaciones = Agrupar.groupby('Producto')['Calificación'].value_counts().unstack(fill_value=0)
# Con Axis=1 se pide ordenar y visualizar el conteo de las calificaciones por columnas considerando que cada calificacion es una venta
  total_ventas = conteo_calificaciones.sum(axis=1)
# Producto con mayor número de ventas
  cantidadmax = total_ventas.max()
  productos_mas_vendidos = total_ventas[total_ventas == cantidadmax]
# Producto con menor número de ventas
  cantidadmin = total_ventas.min()
  productos_menos_vendidos = total_ventas[total_ventas == cantidadmin]

  #Aqui imprime el listado de ventas de todos los productos
  #print(f"\nCantidad total de ventas por producto para la tienda {i}:")
  #print(total_ventas)

  print(f"\nProductos con mayor número de ventas para la tienda {i}:")
  print(productos_mas_vendidos)

  print(f"\nProductos con menor número de ventas para la tienda {i}:")
  print(productos_menos_vendidos)
  print("\n----")

Productos con mayor número de ventas para la tienda 1:
Producto
Armario          60
Microondas       60
TV LED UHD 4K    60
dtype: int64

Productos con menor número de ventas para la tienda 1:
Producto
Auriculares con micrófono    33
Celular ABXY                 33
dtype: int64

----

Productos con mayor número de ventas para la tienda 2:
Producto
Iniciando en programación    65
dtype: int64

Productos con menor número de ventas para la tienda 2:
Producto
Juego de mesa    32
dtype: int64

----

Productos con mayor número de ventas para la tienda 3:
Producto
Kit de bancas    57
dtype: int64

Productos con menor número de ventas para la tienda 3:
Producto
Bloques de construcción    35
dtype: int64

----

Productos con mayor número de ventas para la tienda 4:
Producto
Cama box    62
dtype: int64

Productos con menor número de ventas para la tienda 4:
Producto
Guitarra eléctrica    33
dtype: int64

----

# 5. Envío promedio por tienda

In [248]:
tienda1 = pd.read_csv(url)
tiendas = [tienda1, tienda2, tienda3, tienda4]

# Calcular el costo de envío promedio de cada tienda
for i, tienda in enumerate(tiendas, start=1):
    promedio = round(tienda['Costo de envío'].mean())

    print(f"Costo de envío promedio de la Tienda {i}: ${promedio}")

Costo de envío promedio de la Tienda 1: $26019
Costo de envío promedio de la Tienda 2: $25216
Costo de envío promedio de la Tienda 3: $24806
Costo de envío promedio de la Tienda 4: $23459